.score-container {
    width: 100%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

.score-header {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 30px 20px 10px 20px;
}

.search {
    gap: 10px;
    display: flex;
    flex-direction: row;
    width: 100%;
}

.search-btn-users {
    height: 33px;
    width: 20%;
    border: 1px solid #c9c9c9;
    border-radius: 2px;
    color: white;
    font-size: 12px;
    background: #007e43;
}

.search-btn-users:hover {
    background: #039852;
}

.search .search-input-user {
    height: 30px;
    width: 40%;
    padding-left: 10px;
    border: 1px solid #252323;
    border-radius: 2px;
    color: #5c5c5c;
    font-size: 12px;
}
.score-table {
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
}

 .score-table .score-table-user, .score-table-header {
    border: #074d2c 1px solid;
  }
  
 .score-table .score-table-user {
    border-collapse: collapse;
  }
 .score-table .score-table-header{
    text-align: center;
    background-color:#007e43;
    color: white;
    padding-top: 12px;
    padding-bottom: 12px;
}
.score-table .score-table-tr {
    padding-top: 8px;
    text-align: center;
    padding-bottom: 8px;
} 
.score-table .score-table-tr:nth-child(even){background-color: #f2f2f2;}
.mssv {
    width: 7%;
    border: black 1px solid;
}
.fullname {
    width: 15%;
    border: black 1px solid;
}
.class {
    width: 15%;
    border: black 1px solid;
}
.university {
    width: 7%;
    border: black 1px solid;
}
.football, .badminton, .tabletennis, .basketball, .volleyball, .air_volleyball, .taekwondo, .golf, .CDR{
    width: 6%;
    border: black 1px solid;
}
.certificate-icons {
    font-size: 25px;
    border: black 1px solid;
}

.no-data-user {
    text-align: center;
    font-size: 18px;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px ;
}