.score-container {
    width: 100%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

.score-header {
    height: 140px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.search {
    gap: 20px;
    display: flex;
    flex-direction: row;
}

.search-btn .search-btn-users {
    height: 50px;
    width: 80px;
    border: 1px solid #c9c9c9;
    border-radius: 10px;
    color: white;
    font-size: 15px;
    background: #007e43;
}

.search-btn .search-btn-users:hover {
    background: #039852;
}

.search .search-input-user {
    height: 50px;
    width: 300px;
    padding-left:20px;
    border: 1px solid #252323;
    border-radius: 10px;
    color: #5c5c5c;
    font-size: 15px;
}
.score-table {
    display: flex;
    justify-content: center;
    align-items: center;
}

 .score-table .score-table-user, .mssv, .fullname, .class, .univercity, .football, .bedminton, .tabletennis, .basketball, .volleyball, .air_volleyball, .taekwondo, .golf, .CDR, .certificate-icons {
    border: 1px solid;
  }
  
 .score-table .score-table-user {
    border-collapse: collapse;
  }
 .score-table .score-table-header{
    text-align: center;
    background-color: #04AA6D;
    color: white;
    padding-top: 12px;
    padding-bottom: 12px;
}
.score-table .score-table-tr {
    padding-top: 8px;
    text-align: center;
    padding-bottom: 8px;
} 
.score-table .score-table-tr:nth-child(even){background-color: #f2f2f2;}
.mssv {
    width: 100px;
}
.fullname {
    width: 200px;
}
.class {
    width: 200px;
}
.univercity {
    width: 60px;
}
.football, .bedminton, .tabletennis, .basketball, .volleyball, .air_volleyball, .taekwondo, .golf, .CDR{
    width: 60px;
}
.certificate-icons {
    font-size: 25px;
}