.search-user {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.search-user-input-admin {
    height: 30px;
    width: 15%;
    font-size: 12px;
    padding-left: 10px;
    border-radius: 2px;
    border: 1px solid #252323;
}
.search-user-select-admin {
    height: 32px;
    width: 15%;
    font-size: 12px;
    padding-left: 10px;
    border-radius: 2px;
    border: 1px solid #252323;
}
.search-user-btn-admin {
    height: 32px;
    width: 80px;
    color: azure;
    font-size: 12px;
    padding-left: 10px;
    border-radius: 2px;
    border: 1px solid #252323;
    background-color: #007e43;
}