.score-update-container {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

.score-main {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.form-update-score {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 18px;
    margin-top: 30px;
}

.form-update-row-1 {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.form-update-row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.form-update-row label {
    font-weight: 500;
    font-size: 18px;
    width: 150px;
}
.form-update-row input {
    font-size: 18px;
    height: 30px;
    width: 100px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
}

.profile-title{
    font-size: 25px;
    font-weight: 600;
    margin-top: 40px;
    margin-bottom: 30px;
}

.profile-student-row {
    display: flex;
    flex-direction: row;
}

.profile-student, .score-student {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 18px;
    align-items: center;
}

.profile-student {
    width: 30%;
}

.score-student {
    width: 70%;
}

.profile-student .avatar {
    font-size: 150px;
}

.profile-student-row p {
    font-weight: 500;
}

.update-score-button {
    height: 40px;
    width: 80px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 15px;
    font-weight: 500;
    border: 1px solid #099d5e;
}

.update-score-button:hover {
    background-color: #099d5e;
    color: white;
}

.check-cdr-msg {
    color: #099d5e;
}

.check-cdr-msg-error {
    color: red;
}

