
.update-product-form {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    gap: 40px;
    justify-content: center;
    align-items: center;
    font-size: large;
}

.update-product-left img {
    height: 400px;
    width: 400px;
}

.update-product-right {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.update-product-right {
    display: flex;
    align-items: center;
}
.update-product-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.update-product-row p {
    font-weight: 500;
    width: 130px;
}

.update-product-row input {
    font-size: large;
    height: 40px;
    width: 250px;

}

.update-product-row select {
    font-size: large;
    height: 40px;
    width: 260px;
}

.msg-update {
    color: green;
}

.msg-update-error {
    color: red;
}

.btn-update-product {
    background-color: #006d3a;;
    color: white;
    width: 120px;
    height: 50px;
    font-size: medium;
    margin-top: 10px;
    border-radius: 5px;
    border: none;
}

.btn-update-product:hover {
    cursor: pointer;
    opacity: 0.9;
}