.hero {
    background: #eef0ef;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}
.hero-main {
    margin-left: 200px;
    margin-right: 200px;
    height: 800px;
    background-color: white;
    display: flex;
    flex-direction: column;
}
.hero-title {
    justify-content: center;
    align-items: center;
    line-height: 1.1;
    padding: 20px;
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 10px;
}
.hero-main div {
    padding-left: 20px;
    padding-right: 20px;
}

.hero-text {
    font-weight: 500;
    font-size: 15px;
    padding: 20px 0px 0px 20px;
}
.hero-img {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}
