.scores-management {
    width: 100%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

.scores-header {
    display: flex;
    flex-direction: row;
    height: 50px;
    background-color:#EFEFEF;
    color: #099d5e;
}
.scores-header .icon {
    font-size: 40px;
}
.scores-container {
    display: flex;
    flex-direction: row;
    gap: 200px;
}
.scores-left {
    left: 0;
}
.scores-tittle {
    font-size: 30px;
    font-weight: 600px;
    margin-left: auto;
    margin-right: auto;
}
.scores-right {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.scores-navbar {
    margin: 5px 1px 5px 1px;
    display: flex;
    flex-direction: row;
    gap: 1px;
    margin-left: auto;
}
.scores-navbar .scores-navbar-btn {
    float: right;
}


.scores-navbar .scores-navbar-btn:hover {
    background-color: #EFEFEF;
}