.accountsettings {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.accountsettings h1 {
    padding: 20px 10px;
}

.accountsettings .profile-form-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    padding: 0 20px;
    align-items: center;
    margin-top: 0px;
}

.accountsettings .profile-form-container .form-group {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 10px;
}

.accountsettings .profile-form-container .form-group input{
   padding: 10px;
}

.mainbutton1 {
    background: #006d3a;
    border: 1px solid #006d3a;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1rem;
    margin: 1rem;
    color: white;
  }


.mainbutton1:hover {
    cursor: pointer;
    opacity: 0.9;
}

.accountsettings .profile-form-container .form-group label {
    font-size: 1.2 rem;
    font-weight: 300;
    margin-bottom: 5px;
}

.profile-input {
    border-radius: 5px;
    border: 1px black solid;
}

