.yourorders {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.yourorders .yourorders-table {
    margin-top: 40px;
    width: 95%;
    border-collapse: collapse;
    border-radius: 5px;
}


.yourorders table tr th {
    padding: 5px 20px;
    border: 1px solid rgb(207, 207, 207);
    border-radius: 5px;
    background-color: #f8f8f8;
    color: rgb(65, 64, 64);
}

.yourorders-table-row {
    padding: 10px;
    text-align: center;
    border: 1px solid rgb(207, 207, 207);
    border-radius: 5px;
}

.yourorders-table-icon {
    width: 30px;
    height: 30px;
    color: #007e43;
}
.yourorders-table-row-15 {
    width: 15%;
}

.yourorders-table-row-35 {
    width: 35%;
}

.yourorders-table-row-10 {
    width: 10%;
}