
.products-list .products-list-table{
    border-collapse: collapse;
    margin-left: 20px;
    margin-right: 20px;
    font-size: medium;
}


.products-list-tr .products-id, .products-thumbnails, .products-name, .products-price, .products-1, .products-2, .descriptions, .order-type, .products-update {
    text-align: center;
    background-color: #006d3a;
    font-weight: 450;
    color: #FFFFFF;
    border: 1px solid #0a1812;
    border-radius: 2px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.products-list-tr .products-id-data, .products-thumbnails-data, .products-name-data, .products-price-data, .products-1-data, .products-2-data, .descriptions-data, .order-type-data, .products-update-data {
    text-align: center;
    color: black;
    border: 1px solid #0a1812 ;
}

.products-list .products-list-tr {
    text-align: center;
}

.products-id-data {
    width: 4%;
}

.products-thumbnails-data  {
    width: 12%;
}

.products-thumbnails-data img {
    width: 100%;
    height: 100%;
}

.products-name-data, .products-price-data, .products-1-data, .products-2-data, .descriptions-data, .order-type-data {
    width: 8%;
}

.products-update-data {
    width: 5%;
    font-size: 20px;
}
