.products-list {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
}

.products-list .products-list-table{
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}


.products-list-tr .products-id, .products-thumbnails, .products-name, .products-price, .products-1, .products-2, .descriptions, .order-type, .products-update {
    text-align: center;
    background-color: #EFEFEF;
    color: black;
    border: 1px solid;
    padding-top: 10px;
    padding-bottom: 10px;
}

.products-list-tr .products-id-data, .products-thumbnails-data, .products-name-data, .products-price-data, .products-1-data, .products-2-data, .descriptions-data, .order-type-data, .products-update-data {
    text-align: center;
    color: black;
    border: 1px solid;
}

.products-list .products-list-tr {
    text-align: center;
}

.products-id {
    width: 5vw;
}

.thumbnails {
    width: 20vw;
}

.thumbnails-td img {
    width: 20vw;
    height: 20vw;
}

.products-name, .products-price, .products-1, .products-2, .descriptions, .order-type {
    width:10vw;
}

.products-update {
    width: 5vw;
}

.products-list td button{
    height: 30px;
    width: 80px;
}

.products-update-icon {
    font-size: 20px;
}