/* @import url('http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css'); */

/* .request-container {
    
} */

.title {
    text-align: center;
    font-family:"Work Sans", sans-serif;
    font-size: 25px;
    font-weight: 600;
    margin: 20px 0 10px 10px;
}

.createRequestContainer {
    font-family: "Work Sans", sans-serif;
    display: flex;
    /* justify-content: center; */
    margin: 0 40px 0 40px;
  
}

.create-request-container-left {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.create-request-container-right {
    flex: 1.2;
}

.create-request-productImg {
    width: 400px;
    border-radius: 10px;
}

.createRequestTitle {
    margin: 10px 0 20px 0;
    font-size: 25px;
    text-align: center;

}

.create-request-productName {
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    margin-top: 10px;
}

.create-request-changeQuantity.css-1rwt2y5-MuiButtonBase-root-MuiButton-root {
    color: black;
    border-color: rgba(0, 0, 0, 0.1);
    border-radius: 14px;
    height: 55px;
}

.createRequestBtn.css-1rwt2y5-MuiButtonBase-root-MuiButton-root {
    background-color: #006d3a;
    color: white;
}

.createRequestBtn.css-1rwt2y5-MuiButtonBase-root-MuiButton-root:hover {
    background-color: #03924f;
    color: white;
}

.request-filter-container {
    margin-left: 50px;
}

