/* @import url('http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css'); */

/* .request-container {
    
} */

.title {
    text-align: center;
    font-family:"Work Sans", sans-serif;
    font-size: 25px;
    font-weight: 600;
    margin: 20px 0 10px 10px;
}

.createRequestContainer {
    font-family: "Work Sans", sans-serif;
    margin: 10px 100px 0 100px;
}

.createRequestTitle {
    margin-bottom: 10px;
    font-size: large;
}

.createRequestBtn.css-1rwt2y5-MuiButtonBase-root-MuiButton-root {
    background-color: #006d3a;
    color: white;
    width: 150px;
    margin-bottom: 10px;
}

.createRequestBtn.css-1rwt2y5-MuiButtonBase-root-MuiButton-root:hover {
    background-color: #03924f;
    color: white;
}

